name: gestfin_frontend
description: É um projeto WEB para a Faculdade, voltado para educação financeira.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  cupertino_icons: ^1.0.2
  go_router: ^11.1.4
  flutter_svg: ^2.0.7
  shared_preferences: ^2.2.2
  dropdown_button2: ^2.3.9
  material_design_icons_flutter: ^7.0.7296
  google_fonts: ^6.1.0
  provider: ^6.1.1
  mask_text_input_formatter: ^2.6.0
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
