name: Gestfin Web Deploy

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'

      - name: Limpar Flutter Build
        run: flutter clean

      - name: Habilitar Flutter Web
        run: flutter config --enable-web

      - name: Instalar dependencias
        run: flutter pub get

      - name: Build for web (Release)
        run: flutter build web --release --base-href /

      - name: Forçar cópia da pasta images para o build/web/assets
        run: cp -r assets/images ./build/web/assets/

      - name: Copiando CNAME para pasta de build
        run: cp CNAME ./build/web/

      - name: Fix 404 routing for GitHub Pages
        run: cp ./build/web/index.html ./build/web/404.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          force_orphan: true